* {
    font-family: "Open Sans", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    float: none;
}

.wrapper {
    width: 95%;
    margin: auto;
    padding: 0;
}

.section1 {
    padding: 50px 0;
}

.section1 .firstPanel {
    display: flex;
    justify-content: space-between;
    flex-flow: column;
}

.section1 .firstPanel .firstPanelInner {
    width: calc(33.33% - 30px);
}

.section1 .firstPanel>.firstPanelInner {
    margin: auto;
}

.section1 .firstPanel .rightData {
    display: flex;
    justify-content: space-between;
    flex-flow: wrap;
    width: 100%;
    margin-top: 50px;
}

.section1 .firstPanel .rightData .firstPanelInner {
    width: calc(50% - 70px);
}

.section1 .firstPanel .rightData .firstPanelInner:nth-child(3),
.section1 .firstPanel .rightData .firstPanelInner:nth-child(4) {
    margin-top: 50px;
}

.section1 .firstPanel .firstPanelInner .whislistIcon {
    width: fit-content;
    margin-left: auto;
}

.section1 .firstPanel .firstPanelInner .thumbnail {
    width: 250px;
    height: 250px;
    border-radius: 100%;
    overflow: hidden;
    margin: auto;
}

.section1 .firstPanel .firstPanelInner .thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.section1 .firstPanel .firstPanelInner .profileData {
    text-align: center;
}

.section1 .firstPanel .firstPanelInner .profileData h1 {
    font-size: 28px;
    font-weight: 800;
    color: #131816;
    margin: 20px 0 10px 0;
}

.section1 .firstPanel .firstPanelInner .profileData p {
    color: #72787D;
    max-width: 340px;
    margin: auto;
}

.section1 .firstPanel .firstPanelInner .cta {
    display: flex;
    justify-content: space-between;
    margin: 20px 0 0;
}

.section1 .firstPanel .firstPanelInner .cta a {
    width: calc(50% - 10px);
    padding: 10px;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
    font-weight: 700;
}

.section1 .firstPanel .firstPanelInner .cta a:first-child {
    background: #F1F3F4;
    color: #111315;
}

.section1 .firstPanel .firstPanelInner .cta a:last-child {
    background: #1762B4;
    color: #fff;
}

.section1 .firstPanel .firstPanelInner h2 {
    color: #131313;
    font-weight: 900;
}

.section1 .firstPanel .firstPanelInner .colPanel {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
}

.section1 .firstPanel .firstPanelInner .colPanel p {
    font-size: 18px;
    margin: 0;
    font-weight: 500;
}

.section1 .firstPanel .firstPanelInner .colPanel a {
    display: inline-block;
    background: #F1F3F4;
    color: #111315;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
    font-weight: 700;
}

.section1 .firstPanel .firstPanelInner .colPanel span {
    color: #6C7277;
}

.progress {
    padding: 0;
    width: 90%;
    height: 10px;
    overflow: hidden;
    background: #e5e5e5;
    border-radius: 6px;
}

.bar {
    position: relative;
    float: left;
    min-width: 1%;
    height: 100%;
    background: #131517;
}

.percent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    font-family: tahoma, arial, helvetica;
    font-size: 12px;
    color: white;
}

.section1 .firstPanel .rightData .firstPanelInner .reviewBox {
    display: flex;
    margin: 30px 0 0;
}

.section1 .firstPanel .rightData .firstPanelInner .reviewBox .details {
    width: 30%;
}

.section1 .firstPanel .rightData .firstPanelInner .reviewBox .charts {
    width: 70%;
    padding-left: 30px;
}

.section1 .firstPanel .rightData .firstPanelInner .reviewBox .details .counts {
    font-size: 50px;
    font-weight: 900;
    color: #111315;
}

.section1 .firstPanel .rightData .firstPanelInner .reviewBox .details ul {
    display: flex;
    list-style: none;
}

.section1 .firstPanel .rightData .firstPanelInner .reviewBox .details p {
    color: #111315;
    font-weight: 500;
    font-size: 18px;
    margin: 10px 0 0;
}

.section1 .firstPanel .rightData .firstPanelInner .reviewBox .charts .chartsInner {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.section1 .firstPanel .rightData .firstPanelInner .reviewBox .charts .chartsInner .progress {
    margin: 0 10px;
}

.section1 .firstPanel .rightData .firstPanelInner .reviewBox .charts .chartsInner .percentage {
    color: #707477;
}

.section1 .firstPanel .rightData .firstPanelInner .clientCard {
    margin-top: 30px;
}

.clientCard .profilePanel {
    display: flex;
}

.clientCard .profilePanel .imgCard {
    width: 50px;
    height: 50px;
    object-fit: cover;
    overflow: hidden;
    border-radius: 30px;
    margin-right: 20px;
}

.clientCard .profilePanel .imgCard img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.clientCard .profilePanel .data p {
    font-weight: 700;
}

.clientCard .profilePanel .data span {
    color: #6C7277;
}

.clientCard ul {
    display: flex;
    list-style: none;
    margin: 10px 0;
}

.clientCard p {
    font-weight: 500;
}

.clientCard .reactions {
    margin: 15px 0 0;
    display: flex;
    align-items: center;
}

.clientCard .reactions .reactionsInner {
    display: flex;
    align-items: center;
}

.clientCard .reactions .reactionsInner svg {
    margin-right: 10px;
}

.clientCard .reactions .reactionsInner:last-child {
    margin-left: 30px;
}

.gallerySection .galleryPanel {
    display: flex;
    justify-content: space-between;
}

.gallerySection .galleryPanel .galleryPanelInner {
    width: calc(25% - 15px);
    height: 300px;
    border-radius: 20px;
    overflow: hidden;
}

.gallerySection .galleryPanel .galleryPanelInner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.galleryBtn {
    display: block;
    text-decoration: none;
    background: #1563B6;
    color: #fff;
    padding: 15px;
    font-size: 18px;
    font-weight: 700;
    max-width: 350px;
    text-align: center;
    margin: 50px auto;
    border-radius: 10px;
}

@media(max-width:1023px) {
    .wrapper {
        width: 97%;
    }

    .section1 .firstPanel .rightData .firstPanelInner {
        width: calc(50% - 15px);
    }

    .section1 .firstPanel .firstPanelInner {
        width: calc(50% - 30px);
    }
}

@media(max-width:800px) {
    .section1 {
        padding: 30px 0;
    }

    .section1 .firstPanel {
        flex-flow: column;
    }

    .section1 .firstPanel .firstPanelInner {
        width: 100%;
    }

    .section1 .firstPanel .firstPanelInner .cta {
        margin: 20px auto;
        max-width: 500px;
    }

    .section1 .firstPanel .rightData {
        margin-left: 0;
        width: 100%;
    }

    .gallerySection .galleryPanel {
        flex-flow: wrap;
    }

    .gallerySection .galleryPanel .galleryPanelInner {
        width: calc(50% - 10px);
        margin-bottom: 20px;
    }
}

@media(max-width:600px) {

    .wrapper {
        width: 100%;
        padding: 0 10px;
    }

    .section1 .firstPanel .rightData {
        flex-flow: wrap;
    }

    .section1 .firstPanel .rightData .firstPanelInner {
        width: 100%;
        margin-bottom: 30px;
    }

    .section1 .firstPanel .rightData .firstPanelInner:nth-child(3),
    .section1 .firstPanel .rightData .firstPanelInner:nth-child(4) {
        margin-top: 0;
    }

    .section1 .firstPanel .firstPanelInner .thumbnail {
        width: 200px;
        height: 200px;
    }

    .gallerySection .galleryPanel .galleryPanelInner {
        height: 250px;
    }

    .section1 .firstPanel .firstPanelInner .cta a {
        width: calc(50% - 5px);
        padding: 10px 5px;
        font-size: 13px;
    }

    .section1 .firstPanel .firstPanelInner .colPanel {
        margin-top: 15px;
    }

    .section1 .firstPanel .firstPanelInner .colPanel p {
        font-size: 16px;
    }

    .section1 .firstPanel .firstPanelInner .colPanel a {
        font-size: 14px;
    }

    .section1 .firstPanel .firstPanelInner .colPanel span {
        font-size: 14px;
    }

    .section1 .firstPanel .firstPanelInner h2 {
        font-size: 22px;
    }

}

@media(max-width:400px) {

    .gallerySection .galleryPanel .galleryPanelInner {
        height: 150px;
    }
}